html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form > input {
  border-radius: 2rem;
  height: 3rem;
  font-size: 26px;
}

.lastResult {
  color: white;
  padding: 3px;
}

.resultParas {
  font-size: 26px;
}
